    /* Navbar Styles */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0c3553 !important;
      padding: 0.7143rem 6.4286rem 0.7143rem 2.5rem;
      min-height: 30px;
    }

    .navbar a, .navbar span {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }

    .navbar span {
      padding-right: 2rem;
    }

    .nav-left a {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .nav-right {
      display: flex;
      align-items: center;
    }

    .nav-right span,
    .nav-right a {
      margin-left: 1.5rem;
    }

        /* Container for header */
        #header-main {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #0069aa !important;
          padding-left: 1.4286rem; 
          padding-right: 6.4286rem;
          height: 100px;
        }

        .color-text{
          color: #0977C1 !important;
        }
    
        /* Navigation links */
        .nav-links {
          list-style: none;
          display: flex;
        }
    
        .nav-links li + li {
          margin-left: 1.5rem;
        }
    
        .nav-links a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
          font-size: 1rem;
          transition: color 0.2s ease;
        }

        .social-links a {
          color: #fff;               /* white icons */
          font-size: 1.375rem;         /* adjust size as needed */
          text-decoration: none;
          transition: opacity 0.2s;
        }
    
        .nav-links a:hover {
          color: #007acc;
        }
    
        /* Logo styling */
        .logo img {
          display: block;
          height: 100%;
        }

        .orange {
          color: #EF882B !important;
        }

        .white {
          color:white !important;
        }

        .teal {
          color: #30BFB2 !important;
        }

        .light-purple {
          color: #96A7FF !important;
        }

        .yellow {
          color: #FFCF50 !important;
        }

        .social-links {
          display: flex;
          list-style: none;
          padding-left: 20px;
          margin: 0 0 0 -9px;
          height: 30px;
          float: right;
        }

        .social-links a:hover {
          opacity: 0.7;
        }

    
