#header-meta{
  background-color: #0c3553 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none !important;
  z-index: 10;
  min-height: 30px;
}

#header-meta .container {
  min-height: 30px;
  width: 96%;
  padding: 0;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  clear: both;
}

#header-meta a, #top #header-meta li, #top #header-meta .phone-info {
  color: #5d97c0;
  border-color: #0c3553;
  text-transform: none;
  letter-spacing: 0.01em;
  font-weight: 600;
  text-decoration: none !important;
}