
ul{
    list-style-type:none;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 12px;
}

footer .footer a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left-foot a{
    color: #62b0e7;
    font-size: 8px;
}