.faqs-container {
  background-color: #0b3654;
} 

.faq-topics {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .toggle-text {
    background-color: #176ba6 !important;
    color: #0b3553;
  }

  .toggle-element {
    display: flex;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    background-color: #176ba6 !important;
    transition: background-color 0.3s ease;
  }
  
  .faq-topics-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .toggle-element.active {
    color: #fff !important;
  }
  
  .toggle-element.active .toggle-text {
    color: #fff !important;
  }

  .faq-topic-link {
    display: block;
    padding-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #a2b0bd;
    color: #10456e !important;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.2s ease;
    height: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  }
  
  .faq-topic-link:hover,
  .faq-topic-link:focus {
    background-color: #e0e0e0;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  }
  
  .error-message {
    color: #721c24;
    background-color: #f8d7da;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
  }
  
  .no-topics-message {
    text-align: center;
    padding: 2rem;
    font-style: italic;
  }
  
  @media (width <= 768px) {
    .faq-topics-list {
      grid-template-columns: 1fr;
    }
  }

  